@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ccc;
}

body .payment_card {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  padding: 35px 20px;
}

body .payment_card .close_button {
  position: absolute;
  top: 30px;
  right: 40px;
  background: transparent;
  border: none;
}

body .payment_card .close_button:focus {
  outline: none;
}

body .payment_card .payment_card_title {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 40px;
}

body .payment_card .payment_card_item {
  background-color: #f8f8fa;
  padding: 20px;
  border-radius: 10px;
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .payment_card .payment_card_list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .payment_card .payment_card_list label {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  padding-left: 20px;
}

body .payment_card input[type="radio"] {
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
}

body .payment_card .check {
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #253556;
  z-index: 5;
}

body .payment_card .check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  margin: auto;
}

body .payment_card input[type="radio"]:checked ~ .check {
  border: 1px solid #00cf4d;
}

body .payment_card input[type="radio"]:checked ~ .check::before {
  background-color: #00cf4d;
}

body .payment_card .payment_card_info {
  height: 210px;
  background-color: #f8f8fa;
  border-radius: 10px;
  padding: 25px 30px;
}

body .payment_card .card_info_inputs {
  max-width: 440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .payment_card .card_info_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .payment_card .card_info_input label {
  font-size: 18px;
  font-weight: 500;
  color: #00cf4d;
  padding-left: 20px;
}

body .payment_card .card_info_input input {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  height: 50px;
  padding-left: 30px;
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

body .payment_card .card_info_input input:focus {
  outline: none;
}

body .payment_card .card_info_input input::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

body .payment_card .card_info_input input:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

body .payment_card .card_info_input input::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

body .payment_card .card_info_input input::placeholder {
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

body .payment_card #card_number {
  width: 205px;
}

body .payment_card #card_name {
  width: 310px;
}

body .payment_card #card_cvv,
body .payment_card #card_date {
  width: 95px;
  text-align: left !important;
}

body .payment_card #webMoney,
body .payment_card #qiwi,
body .payment_card #yandex {
  width: 310px;
  margin-top: 40px;
}

body .payment_card .card_info_list {
  width: 445px;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .payment_card .card_info_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .payment_card .get_button {
  width: 155px;
  height: 40px;
  background-color: #00cf4d;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

body .payment_card .get_button:focus {
  outline: none;
}

body .payment_card .my_card_title p {
  font-size: 24px;
  font-weight: 500;
}

body .payment_card .my_card_title {
  margin: 30px 0;
}

body .payment_card .my_card {
  background-color: #f8f8fa;
  padding: 30px 20px 10px;
  border-radius: 10px;
  height: 135px;
}

body .payment_card .my_name_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  font-size: 13px;
}

body .payment_card .my_card_name {
  color: #00cf4d;
  font-size: 14px;
  font-weight: 500;
}

body .payment_card .my_card_number {
  font-size: 14px;
  font-weight: 500;
  color: #253556;
}

@media screen and (max-width: 992px) {
  body .card_info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .payment_card .payment_card_info {
    height: 260px;
  }
  body .payment_card .card_info_inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 400px;
  }
  body #card_number {
    width: 180px !important;
    padding: 0 0 0 15px;
    font-size: 15px;
  }
  body #card_cvv,
  body #card_date {
    width: 75px !important;
    padding: 0 0 0 15px;
  }
  body .card_get_info {
    margin-top: 20px;
  }
  body .card_content {
    margin-top: 20px;
  }
  body .my__cards {
    margin-top: 15px;
  }
}

@media screen and (max-width: 576px) {
  body .card_info_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10px;
  }
  body .payment_card .payment_card_info {
    height: 230px;
    padding: 0;
  }
  body .payment_card .card_info_inputs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 400px;
  }
  body .card_info_list {
    width: 100% !important;
  }
  body #card_number {
    width: 160px !important;
    padding: 0 0 0 5px;
    font-size: 15px;
  }
  body #card_cvv,
  body #card_date {
    width: 55px !important;
    padding: 0 0 0 10px;
  }
  body #card_name {
    width: 250px !important;
  }
  body .card_get_info {
    margin-top: 20px;
  }
  body .card_content {
    margin-top: 20px;
  }
  body .card_info_input label {
    font-size: 14px !important;
    padding-left: 20px;
    padding-top: 15px;
  }
  body .my__cards {
    margin-top: 15px;
  }
}
/*# sourceMappingURL=main.css.map */